.org {color:blue}
.colorC {color:blue}
.plc {color:orange}
.colorL {color:orange}
.per {color:darkgreen}
.colorN {color:darkgreen}
.grey{color:grey}
.red{color:red; font-weight: bold;}

@font-face {
	font-family: "Mali6";
	src: url("fonts/Mali6.ttf") format("opentype");
}
@font-face {
	font-family: "Baijam";
	src: url("fonts/Baijam.ttf") format("opentype");
}
@font-face {
	font-family: "Kanit";
	src: url("fonts/Kanit.ttf") format("opentype");
}
@font-face {
	font-family: "Niramit";
	src: url("fonts/Niramit.ttf") format("opentype");
}
@font-face {
	font-family: "Chonburi";
	src: url("fonts/Chonburi.ttf") format("opentype");
}

body{
	font-family: 'Sarabun', 'M PLUS Rounded 1c', sans-serif, 'Baijam', 'Mali6', 'Kanit', 'Niramit','Chonburi';
	scroll-behavior: smooth;
	background-color:rgba(255, 255, 255, 0.7);
	background-blend-mode:lighten;
}

.vertical, .vertical{
	vertical-align: middle;
}
th.center, td.center{
	text-align: center!important;
}
td.copy:hover{
	cursor: pointer;
}

td.history{color: #007bff;}
td.history:hover{cursor: pointer;}

code:hover{cursor: pointer;}

.hidden_result0, .hidden_result1, .hidden_result2{display: none;}

li.data_source{
	font: 1.2em;
	display: inline-block;
	background-color: #d1d1d1;
	border-radius: 5px;
	padding: 0.2em 0.5em;
	margin:0em 0.3em;
}

.ngramL{background-color: #e6f0ff;}
.ngramL2{background-color: #ccd7ff;}
.ngramR{background-color: #ffe6ff;}
.ngramR2{background-color: #ffd4fb;}
.pointer{cursor: pointer;}