<h4>Twitter</h4>
<ul>
    <li>2013-01 ~ 2019-12</li>
    <li>randomly sampled 485,000 tweets from 30,000,000 tweets with deleting reply (@xxx)</li>
    <li>tokens 6,140,618</li>
    <li>word types 129,507</li>
</ul>

<h4>Thairath</h4>
<ul>
    <li>2009-04-08 ~ 2019-06-25</li>
    <li>randomly sampled 25,000 articles from 842,351 articles (limited to paragraphs whose length are from 500 to 2000 characters)</li>
    <li>tokens 3,534,308</li>
    <li>word types 60,433</li>
</ul>

<h4>Matichon</h4>
<ul>
    <li>2016-09-27 ~ 2018-09-08</li>
    <li>randomly sampled 15,731 articles from 143,365 articles (limited to paragraphs whose length are from 500 to 2000 characters)</li>
    <li>tokens 1,883,713</li>
    <li>word types 43,020</li>
</ul>

<h4>Daily News</h4>
<ul>
    <li>2009-06-01 ~ 2020-05-18</li>
    <li>randomly sampled 25,000 articles from 669,757 articles (limited to paragraphs whose length are from 500 to 2000 characters)</li>
    <li>tokens 3,403,007</li>
    <li>word types 54,553</li>
</ul>

<h4>NHK Thai</h4>
<ul>
    <li>2019-01-03 ~ 2020-11-25</li>
    <li>use all 4640 articles without extracting paragraphs; the average length of articles is 903 characters</li>
    <li>tokens 934,674</li>
    <li>word types 16,565</li>
</ul>

<h4>Pantip</h4>
<ul>
    <li>2013-01-01 ~ 2020-07-17</li>
    <li>randomly sampled 60,000 articles from 110,321 articles (limited to paragraphs whose length are from 100 to 2000 characters)</li>
    <li>tokens 7,314,588</li>
    <li>word types 90,876</li>
</ul>