{% extends "layout.html" %}
{% block content %}

<br>
<div class="container" id="container_split">

	<div class="row">
		<div class="col-md-12">
			<h2>THAI CHARACTER SPLITTER</h2>
			<h5>e.g. ห้าม -> ห้ า ม</h5><br>
			<form method="post" action="/split" onsubmit="return false; ajax_split();">
				<div class="btn-group mb-1">
					<button class="btn btn-secondary" type="submit" onclick="ajax_split();">search</button>
					<button class="btn btn-outline-secondary" type="button" v-on:click="reset()">clear</button>
				</div>
				<input class="form-control" v-model="input_text" id="input_text" style="height:2em">
			</form>
		</div>
	</div>

  <br>

	<div class="row" v-show="result != 0">
		<div class="col-md-12">
			<span style="font-size: 2em;" v-html="result"></span><br><br>
			<button class="btn btn-secondary" value="copy" v-on:click="copy();">copy</button>
		</div>
	</div>

</div>

<script>
	var vue = new Vue({
		el:'#container_split',
		data:{
			input_text: '',
			result: 0
		},
		methods:{
			reset: function(){
				this.input_text = '';
				input_text.focus();
			},
			copy: function(){
				var temp_elem = document.createElement("textarea");
				temp_elem.innerText = this.result;
				var body_elem = document.getElementsByTagName("body")[0];
				body_elem.appendChild(temp_elem);
				temp_elem.select();
				document.execCommand("Copy");
				temp_elem.remove();
			}
		}
	})

	function ajax_split(){
		document.activeElement.blur();
		if(input_text.value.trim()==''){input_text.focus(); return;} // validate form
		$.ajax({
			data : {input_text: vue.input_text},
			type: "POST",
			dataType: "json",
			cache: false,
			timeout: 20000,
			url : "/split"
		}).done(function(returnData){
			vue.result = returnData.result;
			input_text.focus();
		}).fail(function(){
			console.log('fail');
		});
	}

	mode_split.classList.add('active');
</script>

{% endblock %}