{% extends "layout.html" %}
{% block content %}

<br>
<div class="container" id="container_w2v">

	<div class="row">
		<div class="col-md-12">
			<h2>Word2Vec - cosine similarity</h2>
			<p>
				หาคำที่ cosine similarity สูงที่สุด 10 คำ<br>
				สามารถ บวก/ลบ ได้ เช่น <span class="text-danger">โตเกียว - ญี่ปุ่น + จีน = ปักกิ่ง</span>
			</p>
			<form action="/w2v" method="POST" onsubmit="return false; search_w2v();">
				<div class="btn-group mb-1">
					<button class="btn btn-secondary" type="submit" onclick="search_w2v();">search</button>
					<button class="btn btn-outline-secondary" type="button" v-on:click="reset()">clear</button>
				</div>
				<div class="form-check form-check-inline ml-2">
					<input class="form-check-input" type="radio" name="transcription" value="thairath" id="radio1" checked>
					<label class="form-check-label" for="radio1">Thairath</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="transcription" value="matichon" id="radio2" disabled>
					<label class="form-check-label" for="radio2">Matichon</label>
				</div>
				<div class="row">
					<div class="col" style="padding-right:0px">
						<input class="form-control mt-1" v-model="input_1" id="input1" autocomplete="off" placeholder="คำ">
					</div>
					<div class="col" style="padding-right:0px">
						<input class="form-control mt-1" v-model="input_2" id="input2" autocomplete="off" placeholder="- (optional)">
					</div>
					<div class="col">
						<input class="form-control mt-1" v-model="input_3" id="input3" autocomplete="off" placeholder="+ (optional)">
					</div>
				</div>
			</form>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-12">
			<div class="card border-secondary" v-show="result != 0">
				<div class="card-header" v-html="inputs"></div>
				<div class="card-body">
					<table class="table">
						<thead>
							<th>similar word</th>
							<th>cosine similarity</th>
						</thead>
						<tbody v-for="row in result">
							<tr>
								<td v-html="row[0]"></td>
								<td v-html="row[1]"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var vue = new Vue({
		el:'#container_w2v',
		data:{
			input_1: '',
			input_2: '',
			input_3: '',
			inputs: '',
			result: 0
		},
		methods:{
			reset: function(){
				this.input_1 = '';
				this.input_2 = '';
				input1.focus();
			}
		}
	})

	function search_w2v(){
		document.activeElement.blur();
		if(input1.value.trim()==''){input1.focus(); return;}
		$.ajax({
			data : {input_1: vue.input_1, input_2: vue.input_2, input_3: vue.input_3},
			type: "POST",
			dataType: "json",
			cache: false,
			timeout: 20000,
			url : "/w2v"
		}).done(function(returnData){
			vue.inputs = returnData.inputs;
			vue.result = returnData.result;
		}).fail(function(){
			console.log('fail');
		});
	}

	mode_w2v.classList.add('active');
</script>

{% endblock %}